
/*Cards seleccionables*/

.container-options {
    width: 100%;
    position: relative;
    padding: 1.5em;
}

    .container-options .card-options {
        display: inline-block;
        border-radius: 1px;
        text-align: center;
        padding: 1em;
        position: relative;
        background-color: #fff;
        border: 2px solid transparent;
        cursor: pointer;
        margin-top: 0.5em;
        margin-right: 1em;
    }

        .container-options .card-options.selected {
            border: 2px solid #b9f6ca;
            border-radius: 3px;
        }

        .container-options .card-options .text-option {
            font-size: 14px;
            color: #333;
        }
